
.title {
    text-align: center;
    margin: 0 auto;
}

h2 {
    text-align: center;
}
body{
    background: whitesmoke;
}

.browsing {
	text-align: center;
	margin-top: 2em;
    margin-left: 8em;
    margin-right: 8em;
}

img{
    height: 200px;
    width: 150px;
}

.browsing table {
	margin-left:auto; 
    margin-right:auto;
    border-collapse: separate;
  	border-spacing: 40px 0;
    
}

.browsing td {
	padding: 5px 0;
}