<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>fabflix</display-name>
  <welcome-file-list>
    <welcome-file>IndexServlet</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdvancedSearchServlet</display-name>
    <servlet-name>AdvancedSearchServlet</servlet-name>
    <servlet-class>app.Servlets.AdvancedSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdvancedSearchServlet</servlet-name>
    <url-pattern>/AdvancedSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckOutServlet</display-name>
    <servlet-name>CheckOutServlet</servlet-name>
    <servlet-class>app.Servlets.CheckOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckOutServlet</servlet-name>
    <url-pattern>/CheckOutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexServlet</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>app.Servlets.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/IndexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>app.Servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>app.Servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MovieServlet</display-name>
    <servlet-name>MovieServlet</servlet-name>
    <servlet-class>app.Servlets.MovieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovieServlet</servlet-name>
    <url-pattern>/MovieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>app.Servlets.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StarServlet</display-name>
    <servlet-name>StarServlet</servlet-name>
    <servlet-class>app.Servlets.StarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StarServlet</servlet-name>
    <url-pattern>/StarServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>SessionFilter</display-name>
    <filter-name>SessionFilter</filter-name>
    <filter-class>app.Filters.SessionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>CartServlet</display-name>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>app.Servlets.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeLogoutServlet</display-name>
    <servlet-name>EmployeeLogoutServlet</servlet-name>
    <servlet-class>app.Servlets.EmployeeLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeLogoutServlet</servlet-name>
    <url-pattern>/EmployeeLogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MetaDataServlet</display-name>
    <servlet-name>MetaDataServlet</servlet-name>
    <servlet-class>app.Servlets.MetaDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MetaDataServlet</servlet-name>
    <url-pattern>/MetaDataServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeLoginServlet</display-name>
    <servlet-name>EmployeeLoginServlet</servlet-name>
    <servlet-class>app.Servlets.EmployeeLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeLoginServlet</servlet-name>
    <url-pattern>/EmployeeLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStarServlet</display-name>
    <servlet-name>AddStarServlet</servlet-name>
    <servlet-class>app.Servlets.AddStarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStarServlet</servlet-name>
    <url-pattern>/AddStarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddMovieServlet</display-name>
    <servlet-name>AddMovieServlet</servlet-name>
    <servlet-class>app.Servlets.AddMovieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMovieServlet</servlet-name>
    <url-pattern>/AddMovieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MoviePopUpWindow</display-name>
    <servlet-name>MoviePopUpWindow</servlet-name>
    <servlet-class>app.Servlets.MoviePopUpWindow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MoviePopUpWindow</servlet-name>
    <url-pattern>/MoviePopUpWindow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MovieAutoComplete</display-name>
    <servlet-name>MovieAutoComplete</servlet-name>
    <servlet-class>app.Servlets.MovieAutoComplete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovieAutoComplete</servlet-name>
    <url-pattern>/MovieAutoComplete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MobileLoginServlet</display-name>
    <servlet-name>MobileLoginServlet</servlet-name>
    <servlet-class>app.Servlets.MobileLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MobileLoginServlet</servlet-name>
    <url-pattern>/MobileLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MobileMovieSearch</display-name>
    <servlet-name>MobileMovieSearch</servlet-name>
    <servlet-class>app.Servlets.MobileMovieSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MobileMovieSearch</servlet-name>
    <url-pattern>/MobileMovieSearch</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>TimeFilter</display-name>
    <filter-name>TimeFilter</filter-name>
    <filter-class>app.Filters.TimeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>TimeFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>HTTPSOnly</web-resource-name>
      <url-pattern>/_dashboard/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <servlet>
    <description></description>
    <display-name>CartPopUpWindow</display-name>
    <servlet-name>CartPopUpWindow</servlet-name>
    <servlet-class>app.Servlets.CartPopUpWindow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartPopUpWindow</servlet-name>
    <url-pattern>/CartPopUpWindow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationServlet</display-name>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>app.Servlets.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
</web-app>